[submodule "pyro"]
	path = pyro
    url = https://github.com/pyro-ppl/pyro.git

[submodule "numpyro"]
	path = numpyro
    url = https://github.com/pyro-ppl/numpyro.git

[submodule "funsor"]
	path = funsor
    url = https://github.com/pyro-ppl/funsor.git

[submodule "pyro-api"]
	path = pyro-api
    url = https://github.com/pyro-ppl/pyro-api.git

[submodule "pyroed"]
	path = pyroed
    url = https://github.com/pyro-ppl/pyroed.git

[submodule "datasets"]
	path = datasets
    url = https://github.com/pyro-ppl/datasets.git

[submodule "community"]
	path = community
    url = https://github.com/pyro-ppl/community.git

[submodule "Pyro-M5-Starter-Kit"]
	path = Pyro-M5-Starter-Kit
    url = https://github.com/pyro-ppl/Pyro-M5-Starter-Kit.git
